body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#graph-container {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#task-info {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    visibility: hidden;
}

.task-info-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    display: none;
}

.task-info-box h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.task-info-box p {
    font-size: 16px;
    margin: 5px 0;
}

text {
    font-size: 14px;
    fill: #555;
}

text:hover {
    font-weight: bold;
}
